<!-- <p>quote-form works!</p> -->
<div class="container-fluid" id="new">
  <h2 class="text-center">Write a new Quote</h2>
  <hr>
  <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
    <div class="form-group">
      <div class=" ">
        <label for="user">Name of the writer:</label>
        <input type="text" class="form-control" id="user" [(ngModel)]="newQuote.user" name="user" #name="ngModel"
          required>
      </div>
      <br>
      <div class=" ">
        <label for="name">Enter your quote:</label>
        <textarea class="form-control" id="name" rows="4" [(ngModel)]="newQuote.name" name="name" #description="ngModel"
          required></textarea>
      </div>
      <br>
      <div class="">
        <label for="author">Author of the quote:</label>
        <input type="text" class="form-control" id="author" [(ngModel)]="newQuote.author" name="author"
          #author="ngModel" required>
      </div>
      <br>
      <div class="">
        <label for="complete">Completion</label>
        <input type='date' id="complete" [(ngModel)]="newQuote.completeDate" name="completeDate" #completeDate="ngModel"
          required>
      </div>
    </div>
    <br>
    <button type="Submit" id="hell" class="btn btn-success btn-lg">New Quote</button>
  </form>
</div>
